# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Environment variables
.env
.env.*

# Databases
*.sqlite
*.db

# User personal data
data/user/

# Raw downloaded datasets
data/raw/

# Node
node_modules/
dist/
build/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Local databases
*.sqlite
*.sqlite3
*.db

# Python
__pycache__/
*.py[cod]
.venv/

# Environment variables
.env
.env.*

# DDV imported data
database/raw/*
database/processed/*

# keep folder structure
!database/raw/.gitkeep
!database/processed/.gitkeep